# {{ ansible_managed }}
# Generado desde ansible/inventory/group_vars/all/pocketbase.yml y vault.yml.
# No editar a mano: cambia las variables y vuelve a generarlo.
# Valores entre comillas simples: bash (pb/dev.sh) y systemd los leen literalmente.
PB_SMTP_HOST='{{ pb_smtp_host }}'
PB_SMTP_PORT='{{ pb_smtp_port }}'
PB_SMTP_USER='{{ pb_smtp_user }}'
PB_SMTP_PASS='{{ pb_smtp_pass_limpia }}'
PB_SENDER='{{ pb_sender }}'
PB_AVISOS='{{ pb_avisos }}'
PB_APP_URL='{{ pb_app_url }}'
PB_WEB_URL='{{ pb_web_url }}'
PB_PUBLIC_URL='{{ pb_public_url }}'
